
/*SOMMAIRE
-------------------------------------------------------
1. 
2.
3.
4.
*/


/*1.MISE EN PAGE GÉNÉRALE
----------------------------------------------------*/

/* Couleurs*/
:root {
  --bg-color-one: #579C87;
  --text-color-one: #FDCB46;
}

header {
    background-color: var(--bg-color-one);
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

body {
    margin:0;
    max-width: 1366px;
    margin:auto;
    font-family: sans-serif;
    color:#353535;
}

.logo {
    max-width:400px;
    margin: auto;
    display: flex;
}

.section_accueil {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.section_accueil .menu_1, .menu_2, .menu_3, .menu_4 {
    width:490px;
}

.section_accueil .bg_menu_accueil{
    overflow:hidden;
    box-shadow: 0 0 30px #BDBDBD;
    margin-top:80px;
}
.section_accueil a{
    text-decoration: none;
}

.section_accueil .menu_1, .menu_2, .menu_3, .menu_4 {
    transition: transform 400ms;
}

.section_accueil .menu_1:hover, .menu_2:hover, .menu_3:hover, .menu_4:hover{
    transform: scale(1.2);
    opacity: 0.5;
} 

.section_accueil div:nth-child(1){
    background-color: #FADFDB;
}
.section_accueil div:nth-child(2){
    background-color: #FDF5FE;
}
.section_accueil div:nth-child(3){
    background-color: #F9F9F9;
}
.section_accueil div:nth-child(4){
    background-color: #FCFFFD;
}

/*Menu 1*/
.menu_1{
    background-color:#FADFDB;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menu_1 h2{
    font-size:40px;
    font-family: 'Devonshire', cursive;
}
.menu_1 p{
    font-family: 'Kaushan Script', cursive;
    text-transform: uppercase;
    font-size:60px;
    margin-top:0;
}
.menu_1 a{
    color:#421B20;
    padding: 225px 0px; 
}

/*Menu 2*/
.menu_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menu_2 h2{
    font-size:40px;
    font-family: 'Rochester', cursive;
    background: -webkit-linear-gradient(left, #C77426, #8D57FC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menu_2 p{
    font-family: 'Gelasio', serif;
    font-size:60px;
    margin-top:0;
}
.menu_2 a{
    color:#C77426;
    padding: 225px 0px; 
}

/*Menu 3*/
.menu_3{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menu_3 h2{
    font-size:40px;
    font-family: 'Dancing Script', cursive;
    background: -webkit-linear-gradient(left, #003FDD, #308BFB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menu_3 p{
    font-family: 'Nanum Brush Script', cursive;
    font-size:100px;
    margin-top:0;
}
.menu_3 a{
    color: #308BFB;
    padding: 225px 0px; 
}

/*Menu 4*/
.menu_4{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menu_4 a{
    color:#72BF56;
    padding: 225px 0px; 
}
.menu_4 h2{
    font-size:40px;
    font-family: 'Kaushan Script', cursive;
    background: -webkit-linear-gradient(left,#459339, #BCF57E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menu_4 p{
    font-family: 'Nanum Brush Script', cursive;
    font-size:100px;
    margin-top:0;
}

.prochainement {
    width:60%;
    background-color: var(--bg-color-one);
    font-size:3em;
    border:none;
    padding:20px 0 20px 0;
    color: var(--text-color-one);
    border-radius: 20px;
    margin:auto;
    margin-top:75px;
    margin-bottom:75px;
    text-align: center;
}
.container_accueil {
    max-width: 1110px;
    margin:auto; 
}

h1 {
    text-align: center;
    font-size:3em;
    margin-top:80px;
    margin-bottom:45px;
}

.signature_mentions {
    margin-top:10px;
    margin-bottom:200px;
}
footer {
    background-color: var(--bg-color-one);
    display: flex;
    justify-content: space-between;
    color: var(--text-color-one);
    font-size:2.3em;
    padding: 30px 0;
    font-family:sans-serif;
}

footer .button:nth-child(1) {
    margin-left:40px;
}

footer .button:nth-child(2) {
    margin-right:40px;
}
footer a{
    color: #FDCB46;
    text-decoration: none;
}

/*PAGE MENU LA NOTE ENCHANTÉE*/
.bg_menu_1 div{
    display: flex;
    justify-content: space-between;
}
.bg_menu_1 {
    max-width:900px;
    background-color:#FCDFDB;
    padding:80px;
    margin: auto;
    margin-bottom: 80px;
    box-shadow: 0 0 30px #BDBDBD;
    color:#3D131A;
}
.section_menu_1 h2, h3{
    text-align: center;
}
.section_menu_1 h2{
    font-family: 'Devonshire', cursive;
    font-size:4em;
    margin:0;
}
.section_menu_1 p{
    font-size: 1.8em;
    font-family: 'Kalam', cursive;
    margin:10px 0;
    font-weight: 300;
}
.section_menu_1 h3{
    font-size:2.5em;
    margin:70px 0 20px 0;
    display: flex;
    justify-content: center;
    font-family: 'Kalam', cursive;
    font-weight: 400;
}
.fa-music{
    font-size: 5em;
    display: flex;
    justify-content: center;
    background: -webkit-linear-gradient(#f6916a,#f04d5f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.title_note_enchante{
    margin:70px 0 0 0;
}
.title_note_enchante p{
    font-size:3em;
    font-family: 'Devonshire', cursive;
}
.title_note_enchante i{
    float:left;
    font-size: 1.3em;
    margin-right:20px;
}

/*PAGE MENU LE CHIC A LA FRANCAISE*/
.bg_menu_2 div{
    display: flex;
    justify-content: space-between;
}
.bg_menu_2 {
    max-width:900px;
    background-color:#FFF5FE;
    padding:80px;
    margin: auto;
    margin-bottom: 80px;
    box-shadow: 0 0 30px #BDBDBD;
    color:#3D131A;
}
.section_menu_2 h2, h3{
    text-align: center;
}

.section_menu_2 h2{
    font-family: 'Rochester', cursive;
    background: -webkit-linear-gradient(left, #C77426, #8D57FC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
    font-size:4em;
    margin:0;
    margin-bottom:100px;
}
.section_menu_2 p{
    font-size: 1.8em;
    font-family: 'Gelasio', serif;
    margin:10px 0;
    font-weight: 300;
}
.section_menu_2 h3{
    font-size:2.5em;
    margin:70px 0 20px 0;
    display: flex;
    justify-content: center;
    font-family: 'Gelasio', serif;
    font-weight: 400;
}
.bg_menu_2 .part_1{
    color:#C67412;
}
.bg_menu_2 .part_2{
    color:#A56799;
}
.bg_menu_2 .part_3{
    color:#6E4CCC;
}

/*PAGE MENU LE DELICE DES PAPILLES*/
.bg_menu_3 div{
    display: flex;
    justify-content: space-between;
}
.bg_menu_3 {
    max-width:900px;
    background-color:#FCDFDB;
    padding:80px;
    margin: auto;
    margin-bottom: 80px;
    box-shadow: 0 0 30px #BDBDBD;
    color:#3D131A;
}
.section_menu_3 h2, h3{
    text-align: center;
}
.section_menu_3 h2{
    font-family: 'Dancing Script', cursive;
    font-size:4em;
    margin:0;
    background: -webkit-linear-gradient(left, #003FDD, #308BFB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section_menu_3 p{
    font-size: 1.8em;
    font-family: 'Nanum Brush Script', cursive;
    margin:10px 0;
    font-weight: 300;
}
.section_menu_3 h3{
    font-size:2.5em;
    margin:70px 0 20px 0;
    display: flex;
    justify-content: center;
    font-family: 'Nanum Brush Script', cursive;
    font-weight: 400;
}

/*PAGE MENU LA PALETTE DES GOUTS*/
.bg_menu_4 div{
    display: flex;
    justify-content: space-between;
}
.bg_menu_4 {
    max-width:900px;
    background-color:#FCDFDB;
    padding:80px;
    margin: auto;
    margin-bottom: 80px;
    box-shadow: 0 0 30px #BDBDBD;
    color:#3D131A;
}
.section_menu_4 h2, h3{
    text-align: center;
}
.section_menu_4 h2{
    font-family: 'Kaushan Script', cursive;
    font-size:4em;
    margin:0;
    background: -webkit-linear-gradient(left,#459339, #BCF57E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section_menu_4 p{
    font-size: 1.8em;
    font-family: 'Nanum Brush Script', cursive;
    margin:10px 0;
    font-weight: 300;
}
.section_menu_4 h3{
    font-size:2.5em;
    margin:70px 0 20px 0;
    display: flex;
    justify-content: center;
    font-family: 'Nanum Brush Script', cursive;
    font-weight: 400;
}

