
/*SOMMAIRE
-------------------------------------------------------
1. 
2.
3.
4.
*/


/*1.MISE EN PAGE GÉNÉRALE
----------------------------------------------------*/

/* Couleurs*/
:root {
  --bg-color-one: #579C87;
  --text-color-one: #FDCB46;
}


header {
    background-color: var(--bg-color-one);
    padding-top:2rem;
    padding-bottom: 2rem;
}

body {
    margin:0;
    max-width: 1366px;
    margin:auto;
}

.logo {
    max-width:420px;
    margin: auto;
    margin-top:75px;
    margin-bottom: 75px;
    display: flex;
}

.section_menu_one, .section_menu_two {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image_menu {
    margin-top:80px;
    box-shadow: 0 0 10px #BDBDBD;
}

.button_prochainement {
    width:60%;
    background-color: var(--bg-color-one);
    font-size:3em;
    border:none;
    padding:20px 0 20px 0;
    color: var(--text-color-one);
    border-radius: 20px;
    margin:auto;
    margin-top:75px;
    margin-bottom:75px;
    display: flex;
}

footer {
    background-color: var(--bg-color-one);
    display: flex;
    justify-content: space-between;
    color: var(--text-color-one);
    font-size:2em;
    padding: 40px 0 45px 0;
}

.footer_left {
    margin-left:40px;
}

.footer_rigth {
    margin-right:40px;
}

.container_menu {
    max-width: 1110px;
    margin:auto; 
}

a {
    color: var(--text-color-one);
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size:3em;
    margin-top:80px;
    margin-bottom:45px;
}

.main_menu_image {
    box-shadow: 0 0 10px #BDBDBD;
    margin:0 10px 120px 10px;
    max-width: 100%;
    height: auto;
}

.section_page_menu {
    max-width:1090px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

p {
    max-width:500px;
    margin:auto;
}

.signature_mentions {
    margin-top:10px;
    margin-bottom:200px;
}
